In [39]:
import pandas as pd
import numpy as np
import plotly.express as px

In [40]:
columns = pd.read_csv('/home/chay/LLCP2023ASC/variable_layout2023.dat',sep='\t')

# Calculate the File_Width column
columns['File_Width'] = [
    columns.loc[y + 1, 'StartingColumn'] - columns.loc[y, 'StartingColumn'] 
    if y < len(columns) - 1 else 1
    for y in range(len(columns))
]

# Filter rows where File_Width > 0
columns = columns[columns['File_Width'] > 0]

In [41]:
responses = pd.read_fwf(
    "/home/chay/LLCP2023ASC/LLCP2023.ASC", 
    widths=columns['File_Width'].tolist(), 
    names=columns['VariableName'].tolist()
)

In [42]:
responses.head()

,_STATE,FMONTH,IMONTH,IDAY,IYEAR,DISPCODE,_PSU,CTELENM1,PVTRESD1,COLGHOUS,...,DROCDY4_,_RFBING6,_DRNKWK2,_RFDRHV8,_FLSHOT7,_PNEUMO3,_AIDTST4,_RFSEAT2,_RFSEAT3,_DRNKDRV
0,1,1,3,1,2023,1100,2023000001,1.0,1.0,NaN,...,0,1,0,1,2.0,2.0,2.0,1,1,9
1,1,1,1,6,2023,1100,2023000002,1.0,1.0,NaN,...,0,1,0,1,1.0,1.0,2.0,1,1,9
2,1,1,3,8,2023,1100,2023000003,1.0,1.0,NaN,...,0,1,0,1,1.0,1.0,2.0,1,1,9
3,1,1,3,6,2023,1100,2023000004,1.0,1.0,NaN,...,0,1,0,1,1.0,1.0,1.0,1,1,9
4,1,1,1,6,2023,1100,2023000005,1.0,1.0,NaN,...,7,1,47,1,2.0,1.0,2.0,1,1,2

## Record Identification

In [43]:
responses[responses.columns[:7]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433323 entries, 0 to 433322
Data columns (total 7 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   _STATE     433323 non-null  int64
 1   FMONTH     433323 non-null  int64
 2   IMONTH     433323 non-null  int64
 3   IDAY       433323 non-null  int64
 4   IYEAR      433323 non-null  int64
 5   DISPCODE   433323 non-null  int64
 6   _PSU       433323 non-null  int64
dtypes: int64(7)
memory usage: 23.1 MB

## Land Line Introduction

In [45]:
responses[responses.columns[7:17]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433323 entries, 0 to 433322
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CTELENM1   88345 non-null  float64
 1   PVTRESD1   88345 non-null  float64
 2   COLGHOUS   12 non-null     float64
 3   STATERE1   88345 non-null  float64
 4   CELPHON1   88346 non-null  float64
 5   LADULT1    88345 non-null  float64
 6   NUMADULT   88330 non-null  float64
 7   RESPSLC1   52386 non-null  float64
 8   LANDSEX2   70473 non-null  float64
 9   LNDSXBRT   169 non-null    float64
dtypes: float64(10)
memory usage: 33.1 MB

## Cellphone Introduction

In [46]:
responses[responses.columns[17:28]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433323 entries, 0 to 433322
Data columns (total 11 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   SAFETIME   344978 non-null  float64
 1   CTELNUM1   344978 non-null  float64
 2   CELLFON5   344978 non-null  float64
 3   CADULT1    344978 non-null  float64
 4   CELLSEX2   344976 non-null  float64
 5   CELSXBRT   2578 non-null    float64
 6   PVTRESD3   344978 non-null  float64
 7   CCLGHOUS   1351 non-null    float64
 8   CSTATE1    344968 non-null  float64
 9   LANDLINE   344977 non-null  float64
 10  HHADULT    344974 non-null  float64
dtypes: float64(11)
memory usage: 36.4 MB

## Respondent Sex

In [47]:
responses[responses.columns[28]].info()

<class 'pandas.core.series.Series'>
RangeIndex: 433323 entries, 0 to 433322
Series name: SEXVAR
Non-Null Count   Dtype
--------------   -----
433323 non-null  int64
dtypes: int64(1)
memory usage: 3.3 MB

## Health Status

In [48]:
responses[responses.columns[29]].info()

<class 'pandas.core.series.Series'>
RangeIndex: 433323 entries, 0 to 433322
Series name: GENHLTH
Non-Null Count   Dtype
--------------   -----
433319 non-null  float64
dtypes: float64(1)
memory usage: 3.3 MB

## Healthy Days

In [50]:
responses[responses.columns[30:33]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433323 entries, 0 to 433322
Data columns (total 3 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   PHYSHLTH   433320 non-null  float64
 1   MENTHLTH   433320 non-null  float64
 2   POORHLTH   252170 non-null  float64
dtypes: float64(3)
memory usage: 9.9 MB

## Health Care Access

In [51]:
responses[responses.columns[33:37]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433323 entries, 0 to 433322
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   PRIMINS1   433318 non-null  float64
 1   PERSDOC3   433320 non-null  float64
 2   MEDCOST1   433321 non-null  float64
 3   CHECKUP1   433321 non-null  float64
dtypes: float64(4)
memory usage: 13.2 MB

## Exercise (Physical Activity)

In [52]:
responses[responses.columns[37:45]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433323 entries, 0 to 433322
Data columns (total 8 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   EXERANY2   433321 non-null  float64
 1   EXRACT12   325227 non-null  float64
 2   EXEROFT1   323041 non-null  float64
 3   EXERHMM1   323039 non-null  float64
 4   EXRACT22   323040 non-null  float64
 5   EXEROFT2   228757 non-null  float64
 6   EXERHMM2   228757 non-null  float64
 7   STRENGTH   433319 non-null  float64
dtypes: float64(8)
memory usage: 26.4 MB

## Hypertension Awareness

In [53]:
responses[responses.columns[45:47]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433323 entries, 0 to 433322
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   BPHIGH6   433320 non-null  float64
 1   BPMEDS1   176222 non-null  float64
dtypes: float64(2)
memory usage: 6.6 MB

## Cholesterol Awareness

In [54]:
responses[responses.columns[47:50]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433323 entries, 0 to 433322
Data columns (total 3 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   CHOLCHK3   433320 non-null  float64
 1   TOLDHI3    381511 non-null  float64
 2   CHOLMED3   379883 non-null  float64
dtypes: float64(3)
memory usage: 9.9 MB

## Chronic Health Conditions

In [55]:
responses[responses.columns[50:63]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433323 entries, 0 to 433322
Data columns (total 13 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   CVDINFR4   433320 non-null  float64
 1   CVDCRHD4   433320 non-null  float64
 2   CVDSTRK3   433319 non-null  float64
 3   ASTHMA3    433320 non-null  float64
 4   ASTHNOW    64366 non-null   float64
 5   CHCSCNC1   433320 non-null  float64
 6   CHCOCNC1   433320 non-null  float64
 7   CHCCOPD3   433320 non-null  float64
 8   ADDEPEV3   433320 non-null  float64
 9   CHCKDNY2   433320 non-null  float64
 10  HAVARTH4   433319 non-null  float64
 11  DIABETE4   433318 non-null  float64
 12  DIABAGE4   59786 non-null   float64
dtypes: float64(13)
memory usage: 43.0 MB

## Demographics

In [56]:
responses[responses.columns[63:76]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433323 entries, 0 to 433322
Data columns (total 13 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   MARITAL    433316 non-null  float64
 1   EDUCA      433314 non-null  float64
 2   RENTHOM1   433315 non-null  float64
 3   NUMHHOL4   88345 non-null   float64
 4   NUMPHON4   7336 non-null    float64
 5   CPDEMO1C   433278 non-null  float64
 6   VETERAN3   432104 non-null  float64
 7   EMPLOY1    430355 non-null  float64
 8   CHILDREN   428231 non-null  float64
 9   INCOME3    425248 non-null  float64
 10  PREGNANT   76208 non-null   float64
 11  WEIGHT2    422712 non-null  float64
 12  HEIGHT3    421674 non-null  float64
dtypes: float64(13)
memory usage: 43.0 MB

## Disability

In [57]:
responses[responses.columns[76:82]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433323 entries, 0 to 433322
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   DEAF       420248 non-null  float64
 1   BLIND      419243 non-null  float64
 2   DECIDE     418184 non-null  float64
 3   DIFFWALK   417177 non-null  float64
 4   DIFFDRES   416454 non-null  float64
 5   DIFFALON   415463 non-null  float64
dtypes: float64(6)
memory usage: 19.8 MB

## Falls

In [58]:
responses[responses.columns[82:84]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433323 entries, 0 to 433322
Data columns (total 2 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   FALL12MN   292496 non-null  float64
 1   FALLINJ5   77739 non-null   float64
dtypes: float64(2)
memory usage: 6.6 MB

## Tobacco Use

In [59]:
responses[responses.columns[84:88]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433323 entries, 0 to 433322
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   SMOKE100   413649 non-null  float64
 1   SMOKDAY2   158639 non-null  float64
 2   USENOW3    412886 non-null  float64
 3   ECIGNOW2   411856 non-null  float64
dtypes: float64(4)
memory usage: 13.2 MB

## Alcohol Compsumption

In [60]:
responses[responses.columns[88:92]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433323 entries, 0 to 433322
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   ALCDAY4    407879 non-null  float64
 1   AVEDRNK3   212126 non-null  float64
 2   DRNK3GE5   211689 non-null  float64
 3   MAXDRNKS   211286 non-null  float64
dtypes: float64(4)
memory usage: 13.2 MB

## Immunization

In [61]:
responses[responses.columns[92:96]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433323 entries, 0 to 433322
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   FLUSHOT7   405572 non-null  float64
 1   FLSHTMY3   196982 non-null  float64
 2   PNEUVAC4   404573 non-null  float64
 3   SHINGLE2   256598 non-null  float64
dtypes: float64(4)
memory usage: 13.2 MB

## HIV/AIDS

In [62]:
responses[responses.columns[96:98]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433323 entries, 0 to 433322
Data columns (total 2 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   HIVTST7    403710 non-null  float64
 1   HIVTSTD3   133265 non-null  float64
dtypes: float64(2)
memory usage: 6.6 MB

## Seatbelt Use and Drinking and Driving

In [63]:
responses[responses.columns[98:100]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433323 entries, 0 to 433322
Data columns (total 2 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   SEATBELT   402545 non-null  float64
 1   DRNKDRI2   213005 non-null  float64
dtypes: float64(2)
memory usage: 6.6 MB

## Long-term COVID Effects

In [65]:
responses[responses.columns[100:103]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433323 entries, 0 to 433322
Data columns (total 3 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   COVIDPO1   401308 non-null  float64
 1   COVIDSM1   201017 non-null  float64
 2   COVIDACT   27036 non-null   float64
dtypes: float64(3)
memory usage: 9.9 MB

## Pre-Diabetes

In [66]:
responses[responses.columns[103:105]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433323 entries, 0 to 433322
Data columns (total 2 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   PDIABTS1   166249 non-null  float64
 1   PREDIAB2   166152 non-null  float64
dtypes: float64(2)
memory usage: 6.6 MB

## Diabetes

In [67]:
responses[responses.columns[105:112]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433323 entries, 0 to 433322
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   DIABTYPE   24275 non-null  float64
 1   INSULIN1   24268 non-null  float64
 2   CHKHEMO3   24260 non-null  float64
 3   EYEEXAM1   24253 non-null  float64
 4   DIABEYE1   24244 non-null  float64
 5   DIABEDU1   24240 non-null  float64
 6   FEETSORE   24238 non-null  float64
dtypes: float64(7)
memory usage: 23.1 MB

## Arthritis

In [68]:
responses[responses.columns[112:117]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433323 entries, 0 to 433322
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ARTHEXER   23323 non-null  float64
 1   ARTHEDU    23296 non-null  float64
 2   LMTJOIN3   23262 non-null  float64
 3   ARTHDIS2   23213 non-null  float64
 4   JOINPAI2   23152 non-null  float64
dtypes: float64(5)
memory usage: 16.5 MB

## Lung Cancer Screening

In [69]:
responses[responses.columns[117:123]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433323 entries, 0 to 433322
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   LCSFIRST   8541 non-null   float64
 1   LCSLAST    6748 non-null   float64
 2   LCSNUMCG   8199 non-null   float64
 3   LCSCTSC1   24095 non-null  float64
 4   LCSSCNCR   10272 non-null  float64
 5   LCSCTWHN   1960 non-null   float64
dtypes: float64(6)
memory usage: 19.8 MB

## Breast and Cervical Cancer Screening

In [70]:
responses[responses.columns[113:130]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433323 entries, 0 to 433322
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ARTHEDU    23296 non-null  float64
 1   LMTJOIN3   23262 non-null  float64
 2   ARTHDIS2   23213 non-null  float64
 3   JOINPAI2   23152 non-null  float64
 4   LCSFIRST   8541 non-null   float64
 5   LCSLAST    6748 non-null   float64
 6   LCSNUMCG   8199 non-null   float64
 7   LCSCTSC1   24095 non-null  float64
 8   LCSSCNCR   10272 non-null  float64
 9   LCSCTWHN   1960 non-null   float64
 10  HADMAM     1093 non-null   float64
 11  HOWLONG    914 non-null    float64
 12  CERVSCRN   1089 non-null   float64
 13  CRVCLCNC   585 non-null    float64
 14  CRVCLPAP   585 non-null    float64
 15  CRVCLHPV   583 non-null    float64
 16  HADHYST2   1083 non-null   float64
dtypes: float64(17)
memory usage: 56.2 MB

## Prostate Cancer Screening

In [71]:
responses[responses.columns[130:135]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433323 entries, 0 to 433322
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   PSATEST1   29527 non-null  float64
 1   PSATIME1   16246 non-null  float64
 2   PCPSARS2   16226 non-null  float64
 3   PSASUGS1   16202 non-null  float64
 4   PCSTALK2   29352 non-null  float64
dtypes: float64(5)
memory usage: 16.5 MB

## Colorectal Cancer Screening

In [72]:
responses[responses.columns[135:148]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433323 entries, 0 to 433322
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   HADSIGM4   10639 non-null  float64
 1   COLNSIGM   7657 non-null   float64
 2   COLNTES1   7449 non-null   float64
 3   SIGMTES1   1226 non-null   float64
 4   LASTSIG4   146 non-null    float64
 5   COLNCNCR   10612 non-null  float64
 6   VIRCOLO1   2598 non-null   float64
 7   VCLNTES2   340 non-null    float64
 8   SMALSTOL   2595 non-null   float64
 9   STOLTEST   2161 non-null   float64
 10  STOOLDN2   2587 non-null   float64
 11  BLDSTFIT   512 non-null    float64
 12  SDNATES1   511 non-null    float64
dtypes: float64(13)
memory usage: 43.0 MB

## Cancer Survivorship: Type of Cancer

In [73]:
responses[responses.columns[148:151]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433323 entries, 0 to 433322
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CNCRDIFF   17161 non-null  float64
 1   CNCRAGE    16629 non-null  float64
 2   CNCRTYP2   16606 non-null  float64
dtypes: float64(3)
memory usage: 9.9 MB

## Cancer Survivorship: Course of Treatment

In [75]:
responses[responses.columns[151:159]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433323 entries, 0 to 433322
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CSRVTRT3   3671 non-null   float64
 1   CSRVDOC1   1808 non-null   float64
 2   CSRVSUM    1807 non-null   float64
 3   CSRVRTRN   1805 non-null   float64
 4   CSRVINST   1360 non-null   float64
 5   CSRVINSR   1799 non-null   float64
 6   CSRVDEIN   1797 non-null   float64
 7   CSRVCLIN   1795 non-null   float64
dtypes: float64(8)
memory usage: 26.4 MB

## Cancer Survivorship: Pain Management

In [76]:
responses[responses.columns[159:161]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433323 entries, 0 to 433322
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CSRVPAIN   2773 non-null   float64
 1   CSRVCTL2   222 non-null    float64
dtypes: float64(2)
memory usage: 6.6 MB

## Sun Exposure (Todas están en NAN)

In [78]:
responses[responses.columns[161:166]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433323 entries, 0 to 433322
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   INDORTAN   0 non-null      float64
 1   NUMBURN3   0 non-null      float64
 2   SUNPRTCT   0 non-null      float64
 3   WKDAYOUT   0 non-null      float64
 4   WKENDOUT   0 non-null      float64
dtypes: float64(5)
memory usage: 16.5 MB

## Cognitive Decline

In [79]:
responses[responses.columns[166:171]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433323 entries, 0 to 433322
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   CIMEMLO1   135909 non-null  float64
 1   CDWORRY    22483 non-null   float64
 2   CDDISCU1   22470 non-null   float64
 3   CDHOUS1    22443 non-null   float64
 4   CDSOCIA1   22410 non-null   float64
dtypes: float64(5)
memory usage: 16.5 MB

## Caregiver

In [80]:
responses[responses.columns[171:180]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433323 entries, 0 to 433322
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CAREGIV1   50811 non-null  float64
 1   CRGVREL4   11483 non-null  float64
 2   CRGVLNG1   11457 non-null  float64
 3   CRGVHRS1   11424 non-null  float64
 4   CRGVPRB3   11397 non-null  float64
 5   CRGVALZD   10081 non-null  float64
 6   CRGVPER1   11347 non-null  float64
 7   CRGVHOU1   11336 non-null  float64
 8   CRGVEXPT   39153 non-null  float64
dtypes: float64(9)
memory usage: 29.8 MB

## Tobacco Cessation

In [81]:
responses[responses.columns[180:182]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433323 entries, 0 to 433322
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   LASTSMK2   50984 non-null  float64
 1   STOPSMK2   20729 non-null  float64
dtypes: float64(2)
memory usage: 6.6 MB

## Other Tobacco Use

In [82]:
responses[responses.columns[182:185]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433323 entries, 0 to 433322
Data columns (total 3 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   MENTCIGS   26214 non-null   float64
 1   MENTECIG   12455 non-null   float64
 2   HEATTBCO   237914 non-null  float64
dtypes: float64(3)
memory usage: 9.9 MB

## Firearm Safety

In [83]:
responses[responses.columns[185:188]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433323 entries, 0 to 433322
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   FIREARM5   81310 non-null  float64
 1   GUNLOAD    30177 non-null  float64
 2   LOADULK2   10155 non-null  float64
dtypes: float64(3)
memory usage: 9.9 MB

## Heart Attack and Stroke (do you think?)

In [84]:
responses[responses.columns[188:201]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433323 entries, 0 to 433322
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   HASYMP1    10522 non-null  float64
 1   HASYMP2    10507 non-null  float64
 2   HASYMP3    10501 non-null  float64
 3   HASYMP4    10493 non-null  float64
 4   HASYMP5    10484 non-null  float64
 5   HASYMP6    10475 non-null  float64
 6   STRSYMP1   10438 non-null  float64
 7   STRSYMP2   10424 non-null  float64
 8   STRSYMP3   10416 non-null  float64
 9   STRSYMP4   10403 non-null  float64
 10  STRSYMP5   10391 non-null  float64
 11  STRSYMP6   10375 non-null  float64
 12  FIRSTAID   10359 non-null  float64
dtypes: float64(13)
memory usage: 43.0 MB

## Aspirin for CVD Prevention

In [85]:
responses[responses.columns[201]].info()

<class 'pandas.core.series.Series'>
RangeIndex: 433323 entries, 0 to 433322
Series name: ASPIRIN
Non-Null Count  Dtype
--------------  -----
25845 non-null  float64
dtypes: float64(1)
memory usage: 3.3 MB

## Sex at Birth

In [86]:
responses[responses.columns[202]].info()

<class 'pandas.core.series.Series'>
RangeIndex: 433323 entries, 0 to 433322
Series name: BIRTHSEX
Non-Null Count   Dtype
--------------   -----
105230 non-null  float64
dtypes: float64(1)
memory usage: 3.3 MB

## Sexual Orientation and Gender Identity (SOGI)

In [88]:
responses[responses.columns[203:206]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433323 entries, 0 to 433322
Data columns (total 3 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   SOMALE     135790 non-null  float64
 1   SOFEMALE   153467 non-null  float64
 2   TRNSGNDR   289143 non-null  float64
dtypes: float64(3)
memory usage: 9.9 MB

## Marijuana Use

In [89]:
responses[responses.columns[206:212]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433323 entries, 0 to 433322
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   MARIJAN1   88613 non-null  float64
 1   MARJSMOK   11440 non-null  float64
 2   MARJEAT    11433 non-null  float64
 3   MARJVAPE   11425 non-null  float64
 4   MARJDAB    11413 non-null  float64
 5   MARJOTHR   11405 non-null  float64
dtypes: float64(6)
memory usage: 19.8 MB

## Adverse Childhood Experiences

In [91]:
responses[responses.columns[212:226]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433323 entries, 0 to 433322
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   USEMRJN4   4754 non-null   float64
 1   ACEDEPRS   56040 non-null  float64
 2   ACEDRINK   55939 non-null  float64
 3   ACEDRUGS   55891 non-null  float64
 4   ACEPRISN   55845 non-null  float64
 5   ACEDIVRC   55808 non-null  float64
 6   ACEPUNCH   55758 non-null  float64
 7   ACEHURT1   55687 non-null  float64
 8   ACESWEAR   55621 non-null  float64
 9   ACETOUCH   55554 non-null  float64
 10  ACETTHEM   55486 non-null  float64
 11  ACEHVSEX   55417 non-null  float64
 12  ACEADSAF   55303 non-null  float64
 13  ACEADNED   55224 non-null  float64
dtypes: float64(14)
memory usage: 46.3 MB

## Place of Flu Vaccination

In [92]:
responses[responses.columns[226]].info()

<class 'pandas.core.series.Series'>
RangeIndex: 433323 entries, 0 to 433322
Series name: IMFVPLA4
Non-Null Count  Dtype
--------------  -----
4063 non-null   float64
dtypes: float64(1)
memory usage: 3.3 MB

## HPV Vaccination

In [93]:
responses[responses.columns[227:229]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433323 entries, 0 to 433322
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   HPVADVC4   8902 non-null   float64
 1   HPVADSHT   2292 non-null   float64
dtypes: float64(2)
memory usage: 6.6 MB

## Tetanus Diphtheria (Tdap) (Adults)

In [94]:
responses[responses.columns[229]].info()

<class 'pandas.core.series.Series'>
RangeIndex: 433323 entries, 0 to 433322
Series name: TETANUS1
Non-Null Count  Dtype
--------------  -----
12840 non-null  float64
dtypes: float64(1)
memory usage: 3.3 MB

## COVID Vaccination

In [95]:
responses[responses.columns[230:233]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433323 entries, 0 to 433322
Data columns (total 3 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   COVIDVA1   131896 non-null  float64
 1   COVACGE1   20255 non-null   float64
 2   COVIDNU2   110754 non-null  float64
dtypes: float64(3)
memory usage: 9.9 MB

## Social Determinants and Health Equity

In [96]:
responses[responses.columns[233:243]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433323 entries, 0 to 433322
Data columns (total 10 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   LSATISFY   226676 non-null  float64
 1   EMTSUPRT   226318 non-null  float64
 2   SDLONELY   225998 non-null  float64
 3   SDHEMPLY   225739 non-null  float64
 4   FOODSTMP   225475 non-null  float64
 5   SDHFOOD1   225129 non-null  float64
 6   SDHBILLS   224861 non-null  float64
 7   SDHUTILS   224624 non-null  float64
 8   SDHTRNSP   224266 non-null  float64
 9   SDHSTRE1   223493 non-null  float64
dtypes: float64(10)
memory usage: 33.1 MB

## Reactions to Race

In [97]:
responses[responses.columns[243:249]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433323 entries, 0 to 433322
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   RRCLASS3   142505 non-null  float64
 1   RRCOGNT2   142164 non-null  float64
 2   RRTREAT    141806 non-null  float64
 3   RRATWRK2   70209 non-null   float64
 4   RRHCARE4   141333 non-null  float64
 5   RRPHYSM2   141022 non-null  float64
dtypes: float64(6)
memory usage: 19.8 MB

## Random Child Selection

In [98]:
responses[responses.columns[249:252]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433323 entries, 0 to 433322
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   RCSGEND1   49434 non-null  float64
 1   RCSXBRTH   2634 non-null   float64
 2   RCSRLTN2   49024 non-null  float64
dtypes: float64(3)
memory usage: 9.9 MB

## Childhood Asthma Prevalence

In [101]:
responses[responses.columns[252:254]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433323 entries, 0 to 433322
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CASTHDX2   47624 non-null  float64
 1   CASTHNO2   4749 non-null   float64
dtypes: float64(2)
memory usage: 6.6 MB

## Questionnaire Version

In [102]:
responses[responses.columns[254]].info()

<class 'pandas.core.series.Series'>
RangeIndex: 433323 entries, 0 to 433322
Series name: QSTVER
Non-Null Count   Dtype
--------------   -----
433323 non-null  int64
dtypes: int64(1)
memory usage: 3.3 MB

## Questionnaire Language

In [103]:
responses[responses.columns[255]].info()

<class 'pandas.core.series.Series'>
RangeIndex: 433323 entries, 0 to 433322
Series name: QSTLANG
Non-Null Count   Dtype
--------------   -----
433323 non-null  int64
dtypes: int64(1)
memory usage: 3.3 MB

## Urban Rural

In [104]:
responses[responses.columns[256:258]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433323 entries, 0 to 433322
Data columns (total 2 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   _METSTAT   425000 non-null  float64
 1   _URBSTAT   425000 non-null  float64
dtypes: float64(2)
memory usage: 6.6 MB

## Weighting Variables

In [105]:
responses[responses.columns[258:264]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433323 entries, 0 to 433322
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   MSCODE     85527 non-null   float64
 1   _STSTR     433323 non-null  int64
 2   _STRWT     433323 non-null  float64
 3   _RAWRAKE   433323 non-null  float64
 4   _WT2RAKE   433323 non-null  float64
 5   _IMPRACE   433323 non-null  int64
dtypes: float64(4), int64(2)
memory usage: 19.8 MB

## Child Demographic Variables

In [106]:
responses[responses.columns[264:268]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433323 entries, 0 to 433322
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   _CHISPNC   277030 non-null  float64
 1   _CRACE1    51210 non-null   float64
 2   CAGEG      41925 non-null   float64
 3   _CLLCPWT   49541 non-null   float64
dtypes: float64(4)
memory usage: 13.2 MB

## Weighting Variables

In [107]:
responses[responses.columns[268:272]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433323 entries, 0 to 433322
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   _DUALUSE   433323 non-null  int64
 1   _DUALCOR   144162 non-null  float64
 2   _LLCPWT2   433323 non-null  float64
 3   _LLCPWT    433323 non-null  float64
dtypes: float64(3), int64(1)
memory usage: 13.2 MB

## Calculated Variables

In [109]:
responses[responses.columns[272:314]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433323 entries, 0 to 433322
Data columns (total 42 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   _RFHLTH    433323 non-null  int64
 1   _PHYS14D   433323 non-null  int64
 2   _MENT14D   433323 non-null  int64
 3   _HLTHPL1   433323 non-null  int64
 4   _HCVU653   433323 non-null  int64
 5   _TOTINDA   433323 non-null  int64
 6   METVL12_   323041 non-null  float64
 7   METVL22_   228757 non-null  float64
 8   MAXVO21_   433323 non-null  int64
 9   FC601_     433323 non-null  int64
 10  ACTIN13_   317417 non-null  float64
 11  ACTIN23_   225086 non-null  float64
 12  PADUR1_    315638 non-null  float64
 13  PADUR2_    223535 non-null  float64
 14  PAFREQ1_   316148 non-null  float64
 15  PAFREQ2_   224522 non-null  float64
 16  _MINAC12   310832 non-null  float64
 17  _MINAC22   310052 non-null  float64
 18  STRFREQ_   419150 non-null  float64
 19  PAMISS3_   433323 non-null  int64
 20  PAMIN13_   305711 non-null  float64
 21  PAMIN23_   217736 non-null  float64
 22  PA3MIN_    310074 non-null  float64
 23  PAVIG13_   312636 non-null  float64
 24  PAVIG23_   221455 non-null  float64
 25  PA3VIGM_   314603 non-null  float64
 26  _PACAT3    433323 non-null  int64
 27  _PAINDX3   433323 non-null  int64
 28  _PA150R4   433323 non-null  int64
 29  _PA300R4   433323 non-null  int64
 30  _PA30023   433323 non-null  int64
 31  _PASTRNG   433323 non-null  int64
 32  _PAREC3    433323 non-null  int64
 33  _PASTAE3   433323 non-null  int64
 34  _RFHYPE6   433323 non-null  int64
 35  _CHOLCH3   433323 non-null  int64
 36  _RFCHOL3   381512 non-null  float64
 37  _MICHD     428738 non-null  float64
 38  _LTASTH1   433323 non-null  int64
 39  _CASTHM1   433323 non-null  int64
 40  _ASTHMS1   433323 non-null  int64
 41  _DRDXAR2   430763 non-null  float64
dtypes: float64(20), int64(22)
memory usage: 138.9 MB

## Calculated Race Variables

In [111]:
responses[responses.columns[314:320]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433323 entries, 0 to 433322
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   _MRACE1    433069 non-null  float64
 1   _HISPANC   433323 non-null  int64
 2   _RACE      433237 non-null  float64
 3   _RACEG21   433237 non-null  float64
 4   _RACEGR3   433237 non-null  float64
 5   _RACEPRV   433237 non-null  float64
dtypes: float64(5), int64(1)
memory usage: 19.8 MB

## Calculated Variables

In [112]:
responses[responses.columns[320:]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433323 entries, 0 to 433322
Data columns (total 28 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   _SEX       433323 non-null  int64
 1   _AGEG5YR   433323 non-null  int64
 2   _AGE65YR   433323 non-null  int64
 3   _AGE80     433323 non-null  int64
 4   _AGE_G     433323 non-null  int64
 5   HTIN4      405324 non-null  float64
 6   HTM4       411182 non-null  float64
 7   WTKG3      399172 non-null  float64
 8   _BMI5      392788 non-null  float64
 9   _BMI5CAT   392788 non-null  float64
 10  _RFBMI5    433323 non-null  int64
 11  _CHLDCNT   433323 non-null  int64
 12  _EDUCAG    433323 non-null  int64
 13  _INCOMG1   433323 non-null  int64
 14  _SMOKER3   433323 non-null  int64
 15  _RFSMOK3   433323 non-null  int64
 16  _CURECI2   433323 non-null  int64
 17  DRNKANY6   433323 non-null  int64
 18  DROCDY4_   433323 non-null  int64
 19  _RFBING6   433323 non-null  int64
 20  _DRNKWK2   433323 non-null  int64
 21  _RFDRHV8   433323 non-null  int64
 22  _FLSHOT7   170823 non-null  float64
 23  _PNEUMO3   170823 non-null  float64
 24  _AIDTST4   403710 non-null  float64
 25  _RFSEAT2   433323 non-null  int64
 26  _RFSEAT3   433323 non-null  int64
 27  _DRNKDRV   433323 non-null  int64
dtypes: float64(8), int64(20)
memory usage: 92.6 MB